<p>Dear space enthusiast,</p>
<p>This email is to inform you about an upcoming space launch that might interest you!</p>
<p>Launch Details:</p>
<ul>
  <li><strong>Mission:</strong> {{.Mission}}</li>
  <li><strong>Rocket:</strong> {{.Rocket}}</li>
  <li><strong>Launch Time:</strong> {{.LaunchTime}}</li>
  <li><strong>Launch Site:</strong> {{.LaunchSite}}</li>
</ul>
<p><strong>Mission Description:</strong></p>
<p>{{.MissionDescription}}</p>
<p>Stay tuned for updates on the launch and watch the livestream when it's available.</p>
<p>Happy space exploration!</p><br />
<p>Best regards,</p>
<p>Your SpaceAlert App Team</p>



